
.cfgen-form-container{
	width: 100%;
	padding: 0 25px;
	
}
.ui-datepicker{
	font-size:9pt !important;
}
#cfgen-form-4 .cfgen-clear{
	clear:both;
}
#cfgen-form-4 .cfgen-e-c{
	clear:both;
	margin-bottom:12px;
}
#cfgen-form-4 .cfgen-icon-c + .cfgen-input-c{
	display:table-cell;
	width:100%;
	vertical-align:top;
}
#cfgen-form-4 .cfgen-option-set::after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#cfgen-form-4 .cfgen-label{
	display:block;
	padding-right:10px;
	max-width:100%;
}
#cfgen-form-4 .cfgen-terms input{
	vertical-align:middle;
	margin-top:0;
}
#cfgen-form-4 .cfgen-paragraph{
	margin-bottom:1px;
}
#cfgen-form-4 .cfgen-captcha-c{
	margin-top:2px;
}
#cfgen-form-4 .cfgen-captcha-img{
	border:1px solid #dcdcdc;
	border-radius:4px;
	margin-bottom:1px;
}
#cfgen-form-4 .cfgen-captcha-refresh{
	margin-bottom:2px;
	margin-left:2px;
	cursor:pointer;
}
#cfgen-form-4 .cfgen-submit{
	cursor:pointer;
	height:auto;
	-webkit-appearance:none;
}
#cfgen-form-4 .cfgen-required{
	color:#990000;
}
#cfgen-form-4 .cfgen-uploadsuccess-c{
	margin-top:10px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
#cfgen-form-4 .cfgen-deleteupload{
	color:#ff0033;
	margin-left:10px;
	cursor:pointer;
}
#cfgen-form-4 .cfgen-deleteupload:hover{
	text-decoration:underline;
}
#cfgen-form-4 .cfgen-loading{
	display:none;
	background:url('../img/loading.gif') no-repeat 0 1px;
	width:16px;
	height:16px;
}
#cfgen-form-4 .cfgen-errormessage, 
#cfgen-form-4 .cfgen-validationmessage{
	padding:8px 8px;
	line-height:normal;
	border-radius:4px;
}
#cfgen-form-4 .cfgen-validationmessage{
	margin:0 0 10px 0;
}
#cfgen-form-4 .cfgen-errormessage{
	display:none;
	margin:4px 0;
}
#cfgen-form-4 .cfgen-option-content{
	max-width:100%;
}
#cfgen-form-4 .cfgen-option-radio{
	margin-bottom:4px;
}
#cfgen-form-4 .cfgen-option-checkbox{
	margin-bottom:2px;
}
#cfgen-form-4 .cfgen-option-content input[type=radio], 
#cfgen-form-4 .cfgen-option-content input[type=checkbox]{
	margin-right:2px;
	margin-left:1px;
	vertical-align:middle;
}
#cfgen-form-4 .cfgen-option-content input[type=checkbox]{
	margin-top:0;
}
#cfgen-form-4 .cfgen-option-content input[type=radio]{
	margin-top:-2px;
}
#cfgen-form-4 .cfgen-icon-c{
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	padding:4px;
}
#cfgen-form-4 .cfgen-rating-c .fa{
	cursor:pointer;
}
#cfgen-form-4 .cfgen-input-c input[type="text"], 
#cfgen-form-4 .cfgen-input-c select, 
#cfgen-form-4 .cfgen-input-c input[type="submit"], 
#cfgen-form-4 .cfgen-input-c textarea{
	outline-style:none;
}
#cfgen-form-4 .cfgen-input-c input[type="text"], 
#cfgen-form-4 .cfgen-input-c textarea, 
#cfgen-form-4 .cfgen-input-c input[type="submit"]{
	width:100%;
}
#cfgen-form-4 .cfgen-input-c input[type="text"], 
#cfgen-form-4 .cfgen-input-c select, 
#cfgen-form-4 .cfgen-input-c input[type="submit"], 
#cfgen-form-4 .cfgen-input-c textarea, 
#cfgen-form-4 .cfgen-icon-c, 
#cfgen-form-4 .cfgen-label, 
#cfgen-form-4 .cfgen-paragraph, 
#cfgen-form-4 .cfgen-errormessage, 
#cfgen-form-4 .cfgen-validationmessage{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
#cfgen-form-4 .cfgen-label, 
#cfgen-form-4 .cfgen-paragraph, 
#cfgen-form-4 .cfgen-errormessage, 
#cfgen-form-4 .cfgen-validationmessage{
	max-width:100%;
}


#cfgen-form-4 .cfgen-label{
	font-family:Arial;
	font-weight:700;
	font-style:normal;
	font-size:16px;
	color:#4DBCE9;
	margin-bottom:2px;
}
#cfgen-form-4 .cfgen-input-group textarea,
#cfgen-form-4 .cfgen-input-group input[type="text"],
#cfgen-form-4 .cfgen-input-group select,
#cfgen-form-4 .cfgen-option-content{
	font-family:Arial;
	font-weight:normal;
	font-style:normal;
	font-size:14px;
	color:#000000;
}
#cfgen-form-4 .cfgen-input-group input[type="text"],
#cfgen-form-4 .cfgen-input-group textarea,
#cfgen-form-4 .cfgen-input-group select{
	padding:4px;
	border-width:1px;
	border-style:solid;
	border-color:#dedede;
	background-color:#ffffff;
}
#cfgen-form-4 .cfgen-input-group input[type="text"],
#cfgen-form-4 .cfgen-input-group textarea,
#cfgen-form-4 .cfgen-input-group select:not([multiple]){
	border-radius:0px;
}
#cfgen-form-4 .cfgen-input-group input[type="text"]:focus,
#cfgen-form-4 .cfgen-input-group textarea:focus,
#cfgen-form-4 .cfgen-input-group select:focus{
	border-color:#dcdcdc;
}
#cfgen-element-4-6-set-c{
	width: 100%;
}
#cfgen-element-4-6-inputgroup-c{
	width: 100%;
}
#cfgen-element-4-7-set-c{
	width: 100%;
}
#cfgen-element-4-7-inputgroup-c{
	width: 100%;
}
#cfgen-element-4-8-set-c{
	width: 100%;
}
#cfgen-element-4-8-inputgroup-c{
	width: 100%;
}
#cfgen-element-4-9-set-c{
	width: 100%;
}
#cfgen-element-4-9-inputgroup-c{
	width: 100%;
}
#cfgen-element-4-10-set-c{
	width: 100%;
}
#cfgen-element-4-10-inputgroup-c{
	width: 100%;
}
#cfgen-element-4-11-set-c{
width: 100%;
}
#cfgen-element-4-11-inputgroup-c{
	width: 100%;
}
#cfgen-element-4-12-set-c{
	width: 100%;
}
#cfgen-element-4-12-inputgroup-c{
	width: 100%;
}
#cfgen-form-4 #cfgen-element-4-12{
	height:140px;
}
#cfgen-element-4-13-set-c{
	width: 150px;
	margin: auto;
}
#cfgen-element-4-13-inputgroup-c{
	width: 150px;
	margin: auto;
}
#cfgen-element-4-14-set-c{
	width: 100%;
}
#cfgen-element-4-14-inputgroup-c{
	width: 100%;
}
#cfgen-form-4 #cfgen-element-4-14{
	width:200px;
	border: 1px solid #000;
	border-radius: 0;
	margin: auto;
	font-family: 'Muli';
	font-weight: 300;
	font-size:18px;
	margin-left:0;
	color:#000;
	margin-top: 15px;
	padding: 10px;
	transition: 0.35s;
	background-color:transparent;	
	text-transform: uppercase;
}
@media only screen and (min-width: 600px){
#cfgen-element-4-14{
	margin-left:0px;
}

}
#cfgen-form-4 .cfgen-validationmessage{
	font-family:Verdana;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	color:#ffffff;
	background-color:#3bb000;
	width: 100%;
}
#cfgen-form-4 .cfgen-errormessage{
	font-family:Verdana;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	color:#ffffff;
	background-color:#ff0000;
}
